<div class="filter-outer-wrapper">

    <h5 class="padding-10 bold">Filters</h5>
    <div class="filter-wrapper">
        <h6 class="text-center filter-name">Launch Year</h6>
        <div class="text-border"></div>
        <div class="row radio-toolbar">
            <div class="col-sm-6 col-6 radio-wrap" *ngFor="let launchYear of launchYearFilters;let index=index">
                <input (change)="filterSelect(launchYear,'launch_year')" value="launchYear"
                    [checked]="selectedLaunchYear === launchYear" type="radio" id="launchYear{{index}}" />
                <label for="launchYear{{index}}">{{launchYear}}</label>
            </div>
        </div>
    </div>
    
    <div class="filter-wrapper">
    
        <h6 class="text-center filter-name">Successful Launch</h6>
        <div class="text-border"></div>

        <div class="row radio-toolbar">
            <div class="col-sm-6 col-6 radio-wrap" *ngFor="let launch of landingFilters;let index=index">
                <input (change)="filterSelect(launch,'launch_success')"  [checked]="selectedLuanchSuccess === launch" type="radio" id="launch{{index}}" />
                <label for="launch{{index}}">{{launch}}</label>
            </div>
        </div>
    
    </div>
    
    <div class="filter-wrapper">
    
        <h6 class="text-center filter-name">Successful Landing</h6>
        <div class="text-border"></div>

        <div class="row radio-toolbar">
            <div class="col-sm-6 col-6 radio-wrap" *ngFor="let landing of landingFilters;let index=index">
                <input (change)="filterSelect(landing,'landing_success')"  [checked]="selectedLandingSuccess === landing" type="radio" id="landing{{index}}" />
                <label for="landing{{index}}">{{landing}}</label>
            </div>
        </div>
    </div>
</div>